*{
    box-sizing: border-box;
}
body{
    padding: 0 5em;
}
textarea{
    width: 100%;
    height: 50px;
    resize: none;
}
table buttom{
    padding: 0.4em;
    background-color: transparent;
    cursor: pointer;
}
.frase, .campoDeDigitacao{
    font-size: 2em;
}
.campoDeDigitacao{
    height: 5em;
    border-width: 5px;
    border-style: solid;
    border-color: #000;
}
.campoDesabilitado{
    background-color: #eee;
    color: #666;
}
.sucesso{
    border-color: #0F8;
}
.erro{
    border-color: #F08;
}
.material-icons{
    vertical-align: middle;
}
